*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main
{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1 ,1fr) 80%;
}
.main-links
{
    width: 250px;
    background: #ffcece;
    color: rgb(53, 52, 52);
    overflow: scroll;
}
.main-links ul
{
    list-style: none;
    margin-top: 30%;
}
.main-links ul li
{
    font-size: 23px;
    font-family: 'Arimo', sans-serif;
    font-family: 'EB Garamond', serif;
    font-family: 'IBM Plex Sans', sans-serif;
    transition: all 0.1s;
}
.main-links ul li:hover{
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.main-item
{
   background-image: url(img/bg\ \(2\).jpg);
   background-size: cover;
   background-repeat: no-repeat;
}
.main-item .text
{
    width: 50%;
    height: 200px;
    margin-top: 11%;
    margin-left: 100px;
}
.main-item .text h3
{
    font-size: 60px;
    color: #000000;

}
.main-item .text h3 span
{
    font-size: 100px;
    color: #f334f3;

}
.main-item .text h4
{
    font-size: 50px;
    color: crimson;
}
.main-item .text p
{
    font-size: 15px;
    color: rgb(0, 0, 0);
}

/* ------main-end------ */

#ledis-collection
{
    width: 100%;
    min-height: 100vh;
    background-color: gray;
}
.rating i
{
    color: rgb(0, 0, 0);
}
#gents-collection
{
    width: 100%;
    min-height: 100vh;
    background-color: gray;
}
#Gift-item
{
    width: 100%;
    min-height: 100vh;
    background-color: gray;
}
#Fashion
{
    width: 100%;
    min-height: 100vh;
    background-color: gray;
}
#Letest-collection
{
    width: 100%;
    min-height: 100vh;
    background-color: gray;
}
#footer
{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    justify-content: space-between;
}
footer
{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
    background: #000;
}

#sing-up {
    width: 300px;
    flex-basis: 30%;
    /* margin: 0 auto; */
    /* margin-top: 100px; */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  #sing-up form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #sing-up h2 {
    margin-bottom: 20px;
  }
  
  #sing-up label {
    display: block;
    margin-bottom: 10px;
  }
  
  #sing-up input[type="text"],
  #sing-up input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  #sing-up input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .send_messege
  {
    width: 30%;
    text-align: left;
  }

  .send_messege input
  {
    border: 2px solid wheat;
    font-size: 17px;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  .send_messege label
  {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .send_messege textarea
  {
    font-size: 17px;
    padding: 8px;
    border-radius: 5px;
  }
  .footer-item ul li
  {
    list-style: none;
    font-size: 18px;
    text-align: right;
  }
  .contact-item
  {
    display: block;
  }
  .contact-item ul
  {
    display: flex;
    list-style: none;
    margin: 20px 38%;
  }
  .contact-item ul li
  {
    font-size: 30px;
    margin: 0 10px;
  }
  #about-us
  {
    width: 100%;
    min-height: 100vh;
    background: rgb(93, 93, 93);
  }
  .abou-img
  {
    width: 50%;
    height: 450px;
    background: #000;
    background-image: url(img/bg\ \(3\).jpg);
    background-size: cover;
    position: relative;
    margin-top: 5%;

  }

  .abou-img::after
  {
    position: absolute;
    content: "";
    width: 0;
    height: 450px;
    background-image: url(img/image\ \(1\).jpg);
    background-size: cover;
    opacity: 0;
    transition: all 1s;
    transform: scaleX(right);

    animation: photo 10s infinite;
  }

  @keyframes photo {
    to{
      width: 100%;
      opacity: 1;
    }
    
  }



  .about-item
  {
    width: 50%;
    margin-left: 50px;
    position: relative;
    padding-top: 5%;
    color: #fff;
  }
  .about-item p
  {
    font-size: 16px;
  }
  #developers
  {
    width: 100%;
    min-height: 100vh;
    background: rgb(93, 93, 93);
    padding: 50px;
  }